@import "../../components/main";

input {
	padding: 3px 5px;
	border: 1px solid rgb(200,200,200);
	outline: none;
	border-radius: 4px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	background-color: rgb(240,240,255);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);

	& > .logo {
		margin: 0 0 0 20px;
	}
	
	& > .logo > img {
		height: 30px;
	}
}

.content {
	padding: 20px 20px 0 20px;

	& > .title {
		margin-bottom: 20px;
		text-align: center;
		font-size: 2em;
		font-weight: bold;
		color: rgb(30,80,110);
	}
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 20px;

	&.show {
		display: flex;
	}
}

.subsection {
	flex-basis: 50%;

	&.margin-left {
		margin-left: 20px;
	}
	
	& > .title {
		padding-bottom: 10px;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
	}
}

.highlighting-line {
	background-color: rgb(220, 220, 255) !important;
}

.search-markets {
	margin-bottom: 10px;
}

.markets {
	display: none;
	max-height: 300px;
	overflow-y: auto;
}

.markets > table > tbody > tr:hover {
	cursor: pointer;
}

.markets.show {
	display: block;
}

.coin-name {
	margin-top: 20px;
}

.coin-name > .coin__title,
.volume-order > .volume__title,
.price-threshold > .threshold__title {
	font-weight: bold;
}

.volume-order > .volume__title {
	width: 140px;
	display: inline-block;
}

.price-threshold > .threshold__title {
	margin-top: 10px;
	width: 140px;
	display: inline-block;
}

.volume-order > .volume__value,
.price-threshold > .threshold__value {
	height: 24px;
	width: 200px;
}

.volume-order > .volume__set-max {
	height: 24px;
	padding: 0 8px;
	color: rgb(255,255,255);
	background-color: rgb(80,100,150);
	border-radius: 4px;
	border: none;
	outline: none;
}

.volume-order > .volume__set-max:hover {
	cursor: pointer;
	background-color: rgb(50,80,120);
}

.order-start {
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	font-size: 1.2em;
	color: rgb(255,255,255);
	background-color: rgb(80,100,150);
	border-radius: 4px;
	border: none;
	outline: none;
}

.order-start:hover {
	cursor: pointer;
	background-color: rgb(50,80,120);
}

.order-book,
.open-orders,
.trade-history {
	display: none;
}

.order-book .asks,
.order-book .bids {
	max-height: 400px;
	overflow-y: auto;
}

.open-orders .asks,
.open-orders .bids {
	max-height: 400px;
	overflow-y: auto;
}

.search-trade-history {
	width: 400px;
	margin-bottom: 10px;
}

.trade-history {
	max-height: 400px;
	overflow-y: auto;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	background-color: rgb(240,240,255);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}