* {
	box-sizing: border-box;
}

html {
	color: rgb(80,80,100);
	font-size: 16px;
	font-family: sans-serif;
}

body {
	margin: 0;
	height: 100%;
}

.color-red {
	color: rgb(200,0,0);
}

.color-green {
	color: rgb(0,120,0);
}

input {
	padding: 3px 5px;
	border: 1px solid rgb(200,200,200);
	outline: none;
	border-radius: 4px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	background-color: rgb(240,240,255);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.header > .logo {
	margin: 0 0 0 20px;
}

.header > .logo > img {
	height: 30px;
}

.content {
	padding: 20px 20px 0 20px;
}

.content > .title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: rgb(30,80,110);
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 20px;
}

.section.show {
	display: flex;
}

.subsection {
	flex-basis: 50%;
}

.subsection.margin-left {
	margin-left: 20px;
}

.subsection > .title {
	padding-bottom: 10px;
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
}

table {
	width: 100%;
    padding: 0;
    border-spacing: 0;
    border: 1px solid rgb(200,200,200);
}

table > thead > tr > th,
table > tbody > tr > td {
    padding: 3px 5px;
}

table > thead > tr > th {
    background-color: rgb(220,220,220);
    border-bottom: 1px solid rgb(200,200,200);
}

table > thead > tr > th:not(:last-child) {
    border-right: 1px solid rgb(200,200,200);
}

table > tbody > tr > td {
}

table > tbody > tr > td:not(:last-child) {
    border-right: 1px solid rgb(200,200,200);
}

table > tbody > tr:nth-child(odd) {
    background-color: rgb(255,255,255);
}

table > tbody > tr:nth-child(even) {
    background-color: rgb(245,245,245);
}

table > tbody tr:not(:last-child) > td {
    border-bottom: 1px solid rgb(200,200,200);
}

table > tbody > tr:hover {
	background-color: rgb(220,220,230);
}

.highlighting-line {
	background-color: rgb(220, 220, 255) !important;
}

.search-markets {
	margin-bottom: 10px;
}

.markets {
	display: none;
	max-height: 300px;
	overflow-y: auto;
}

.markets.show {
	display: block;
}

.order-book,
.open-orders,
.trade-history {
	display: none;
}

.order-book .asks,
.order-book .bids {
	max-height: 400px;
	overflow-y: auto;
}

.open-orders .asks,
.open-orders .bids {
	max-height: 400px;
	overflow-y: auto;
}

.search-trade-history {
	width: 400px;
	margin-bottom: 10px;
}

.trade-history {
	max-height: 400px;
	overflow-y: auto;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	background-color: rgb(240,240,255);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}